<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Add new reminder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<h2>Add new reminder</h2>
<form th:action="@{/add}" th:object="${reminder}" method="post">
    <p><input type="text" size="50px" th:field="*{text}" placeholder="Enter the reminder text" required/></p>
    <p><input type="date" th:field="*{date}" placeholder="Date" required/></p>
    <p class="error-text" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Name Error</p>
    <p><button type="submit">Add</button></p>
</form>
</body>
</html>